server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_db
    username: root
    password: Dipali@72
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    


